.moviesCardList {
    box-sizing: border-box;
    max-width: 1160px;
    padding: 0 10px;
    margin: 80px auto 0;
}

.moviesCardList__wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 58px;
    margin: 0 auto;
}

.moviesCardList__btn-more {
    font-family: Inter, Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    background: #F4F4F4;
    border: none;
    border-radius: 6px;
    padding: 11px 0 9px;
    width: 100%;
    cursor: pointer;
    margin: 78px auto 80px;
    transition: 0.2s;
    display: block;
}

.moviesCardList__btn-more:hover {
    opacity: 0.8;
    transition: 0.2s;
}

@media(max-width: 768px) {
    .moviesCardList__wrapper {
        max-width: 728px;
        padding: 0 10px;
        grid-template-columns: 1fr 1fr;
        row-gap: 47px;
    }

    .moviesCardList__btn-more {
        margin-top: 62px;
        max-width: 728px;
        padding: 11px 10px 9px;
    }
}

@media(max-width: 320px) {
    .moviesCardList {
        max-width: 320px;
        margin-top: 50.03px;
    }

    .moviesCardList__wrapper {
        max-width: 310px;
        padding: 0 5px;
        grid-template-columns: 1fr;
        row-gap: 39px;
    }

    .moviesCardList__btn-more {
        margin-top: 63px;
        max-width: 300px;
        padding: 11px 5px 9px;
    }
}